<a href="https://colab.research.google.com/github/napgat/PythonLab3/blob/main/lab3python_5069.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 3

3.1 จากข้อมูลใน List ให้หาผลบวกเฉพาะตัวเลขคู่ โดยใช้ While Loop

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13]

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13]

for i in list1:
  if i%2==0:
    print(i)

2
4
6
8

3.2 จากข้อมูลใน List ให้หาตัวเลขที่มีค่ามากที่สุดเป็นอันดับ 2 ใน List โดยใช้ While Loop

list = [-5, 7, 10, 1, 2, 5, 8, 100]

In [ ]:
list = [-5, 7, 10, 1, 2, 5, 8, 100]
i = 0
most_value1 = list[0]
most_value2 = 0
while i < len(list):
  if not most_value1 > list[i]:
    most_value2 = most_value1
    most_value1 = list[i]
  i+=1
print(most_value2)

10

3.3 เขียนโปรแกรมรับค่า n แล้วคำนวณค่าต่อไปนี้

$1/1^2 + 1/2^2 + 1/3^2 + 1/4^2 + 1/5^2 + … +  1/n^2$

In [ ]:
num_input = int(input())
start_point = 1
sum = 0.0
while start_point <= num_input:
    sum += 1/(start_point**2)
    start_point+=1
print(round(sum,2))

9
1.54

3.4 จากข้อมูลใน List ให้ตรวจสอบว่า ข้อมูลในลิสต์ s เรียงลำดับจากน้อยไปมากหรือไม่ ตอบเป็น True, False

	[1,2,3,4,5], [5,4,3,2,1]

In [ ]:
list_1 = [1,2,3,4,5]
list_2 = [5,4,3,2,1]
selected_list = list_2
next_num = selected_list[1]
result = False
for i in range(len(selected_list)):
    if selected_list[i] > selected_list[next_num]:
        result = True
        continue
    else:
        result = False
print(result)

False

3.5  ให้ x เป็นลิสต์เก็บคะแนน ต้องการปรับช่องที่มีค่าน้อยกว่า 30 ให้มีค่าเพิ่มอีก 10% แสดงผลลัพธ์ เป็น List

	x = [60, 70, 72, 65, 55, 43, 20, 90, 12]

In [ ]:
x = [60, 70, 72, 65, 55, 43, 20, 90, 12]
for i in range(len(x)):
  if x[i] < 30:
    x[i] = x[i]+(x[i]*0.1)
print(x)

[60, 70, 72, 65, 55, 43, 22.0, 90, 13.2]

3.6 ต้องการหาผลรวมของคะแนนที่เก็บในลิสต์ x โดยขอไม่รวมคะแนนที่น้อยสุดอันดับ 2

	x = [15, 80, 75, 62, 55, 43, 99, 67, 10]

In [ ]:
x = [15, 80, 75, 62, 55, 43, 99, 67, 10]
i = 0
most_value1 = x[0]
most_value2 = 0
while i < len(x):
  if not most_value1 > x[i]:
    most_value2 = most_value1
    most_value1 = x[i]
  i+=1
sum_total = 0
for p in x:
    if p == most_value2:
        continue
    else:
        sum_total += p
print(sum_total)

426

3.7 จากข้อมูลใน List ให้แสดง string ที่มีความยาวมากกว่า 2 และมีอักษรตัวแรกกับตัวสุดท้ายเหมือนกัน แสดงบรรทัดละ 1 ตัว

	lst = ['abba', 'a', 'aa', 'alcaza', 'python', 'stores', 'program', 'execute']

In [ ]:
lst = ['abba', 'a', 'aa', 'alcaza', 'python', 'stores', 'program', 'execute']
count_spell = 0
for name in lst:
    for spell in name:
        if count_spell > 2:
            if name[0] == name[-1]:
                print(name)
                break
        count_spell +=1
    count_spell = 0

abba
alcaza
stores
execute

3.8 จากข้อมูลใน List ให้ลบข้อมูลที่มีซ้ำกันให้เหลือเพียงตัวเดียว ให้แสดงผลเป็น list เช่น

[‘a’,’a’] => [‘a’]

lst = ['a', 'a', 'b', 'a', 'b', 'c', 'd']

In [ ]:
lst = ['a', 'a', 'b', 'a', 'b', 'c', 'd']
new_list = []
selected = lst[0]
amount_lst = len(lst)
for a in range(amount_lst):
    if not lst[a] in new_list:
        new_list.append(lst[a])
lst = new_list
print(lst)

['a', 'b', 'c', 'd']

3.9 จากข้อมูลใน List ให้แสดงว่าแต่ละข้อมูลใน List มีจำนวนเท่าไร คือ มีซ้ำกันกี่ตัวใน List  ให้แสดงบรรทัดละตัว เช่น

	[1, 2, 3, 4, 1, 2, 3, 1, 2, 1]
	1 = 4
	2 = 3
	3 = 2
	4 = 1
  
	lst = [1,2,3,4,5,1,2,3,4,1,2,3,1,2,1]

In [ ]:
list = [1,2,3,4,5,1,2,3,4,1,2,3,1,2,1]
list_again = []
i = 0
len_list = len(list)
sum = 0
n = 1
for num in list:
    if not num in list_again:
        list_again.append(num)
while i < len(list_again)-1:
    n = 0
    while n < len_list:
        if list[i] == list[n]:
            sum += 1
        n +=1
    sum = sum -1
    if sum > 0:
        print(f"{list[i]} = {sum}")
        sum= 0
    i = i+1

1 = 4
2 = 3
3 = 2
4 = 1

1.	เขียนโปรแกรมเพื่อหาผลบวกของอนุกรม 5+10+15+20+… จนถึง n เมื่อ n เป็นตัวเลขที่รับเข้ามาทางคีย์บอร์ด

In [ ]:
num = int(input())
step = 5
sum = 0
for i in range(num):
  sum += step
  step += 5
print(sum)

5
75

2.	จงเขียนโปรแกรมที่จะหาตัวเลขระหว่าง 2000-3200 ที่หารด้วย 7 ลงตัว แต่หารด้วย 5 ไม่ลงตัว
การแสดงผลให้แสดงตัวเลขและคั่นด้วยเครื่องหมาย , ในบรรทัดเดียว

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [ ]:
starter_num = 2000
end_num = 3200
while starter_num < end_num +1:
  if starter_num % 7 == 0 and starter_num % 5 != 0:
    print(starter_num,end=',')
  starter_num += 1

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

3.	จากข้อมูลใน List ต้องการนับว่า มีข้อมูลกี่คู่ในลิสต์ที่ตัวทางซ้ายมีค่ามากกว่าตัวทางขวา (ไม่จำเป็นต้องอยู่ติดกัน)

x = [1, 5, 4, 2, 1]

In [ ]:
x = [-1, 5, -1, -1, -1]
amount_more = 0
for i in range(len(x)):
    for j in range(i+1,5):
        if x[i] > x[j]:
            amount_more += 1
print(amount_more)

3

4.	ให้ตรวจสอบว่า String ที่รับเข้ามาผ่านคีย์บอร์ด เป็นตัวอักษรพิมพ์เล็ก หรือตัวอักษรพิมพ์ใหญ่ อย่างละกี่ตัว ตอบ 2 บรรทัด พิมพ์เล็ก 1 บรรทัด พิมพ์ใหญ่ 1 บรรทัด

klfjslkgD;FGK;LSDKdl;gfk;
=> 18,3

In [ ]:
string = input()
upper_total = 0
lower_total = 0
for char in string:
    if char.isupper() == True:
        upper_total += 1
    elif char.islower() == True:
        lower_total += 1
print(f"{lower_total},{upper_total}")

klfjslkgD;FGK;LSDKdl;gfk
13,8

5.	จงเขียนโปรแกรมที่หาตัวเลขระหว่าง 1000 และ 3000 ที่ทุกหลักเป็นเลขคู่ (รวม 1000 และ 3000) โดยแสดงผลในรูปแบบตัวเลขคั่นด้วย comma

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

In [ ]:
starter_num = 2000
end_num = 3000
digit = []
count = 0
while starter_num < end_num +1:
  i= 0
  digit += str(starter_num)
  while i < len(digit):
    if int(digit[i]) % 2 == 0:
        if count == 3 :
            print(''.join(digit),end=',')
            count = 0
        else :
            count +=1
    else:
        count = 0
    i+=1
  digit = []
  starter_num +=1

1000,1002,1004,1006,1008,1010,1012,1014,1016,1018,1020,1022,1024,1026,1028,1030,1032,1034,1036,1038,1040,1042,1044,1046,1048,1050,1052,1054,1056,1058,1060,1062,1064,1066,1068,1070,1072,1074,1076,1078,1080,1082,1084,1086,1088,1090,1092,1094,1096,1098,1100,1102,1104,1106,1108,1110,1112,1114,1116,1118,1120,1122,1124,1126,1128,1130,1132,1134,1136,1138,1140,1142,1144,1146,1148,1150,1152,1154,1156,1158,1160,1162,1164,1166,1168,1170,1172,1174,1176,1178,1180,1182,1184,1186,1188,1190,1192,1194,1196,1198,1200,1202,1204,1206,1208,1210,1212,1214,1216,1218,1220,1222,1224,1226,1228,1230,1232,1234,1236,1238,1240,1242,1244,1246,1248,1250,1252,1254,1256,1258,1260,1262,1264,1266,1268,1270,1272,1274,1276,1278,1280,1282,1284,1286,1288,1290,1292,1294,1296,1298,1300,1302,1304,1306,1308,1310,1312,1314,1316,1318,1320,1322,1324,1326,1328,1330,1332,1334,1336,1338,1340,1342,1344,1346,1348,1350,1352,1354,1356,1358,1360,1362,1364,1366,1368,1370,1372,1374,1376,1378,1380,1382,1384,1386,1388,1390,1392,1394,1396,1398,1400,1402,1404,1406,1408,1410,1412,1414,1416,1418,1420,1422,1424,1426,1428,1430,1432,1434,1436,1438,1440,1442,1444,1446,1448,1450,1452,1454,1456,1458,1460,1462,1464,1466,1468,1470,1472,1474,1476,1478,1480,1482,1484,1486,1488,1490,1492,1494,1496,1498,1500,1502,1504,1506,1508,1510,1512,1514,1516,1518,1520,1522,1524,1526,1528,1530,1532,1534,1536,1538,1540,1542,1544,1546,1548,1550,1552,1554,1556,1558,1560,1562,1564,1566,1568,1570,1572,1574,1576,1578,1580,1582,1584,1586,1588,1590,1592,1594,1596,1598,1600,1602,1604,1606,1608,1610,1612,1614,1616,1618,1620,1622,1624,1626,1628,1630,1632,1634,1636,1638,1640,1642,1644,1646,1648,1650,1652,1654,1656,1658,1660,1662,1664,1666,1668,1670,1672,1674,1676,1678,1680,1682,1684,1686,1688,1690,1692,1694,1696,1698,1700,1702,1704,1706,1708,1710,1712,1714,1716,1718,1720,1722,1724,1726,1728,1730,1732,1734,1736,1738,1740,1742,1744,1746,1748,1750,1752,1754,1756,1758,1760,1762,1764,1766,1768,1770,1772,1774,1776,1778,1780,1782,1784,1786,1788,1790,1792,1794,1796,1798,1800,1802,1804,1806,1808,1810,1812,1814,1816,1818,1820,1822,1824,1826,1828,1830,1832,1834,1836,1838,1840,1842,1844,1846,1848,1850,1852,1854,1856,1858,1860,1862,1864,1866,1868,1870,1872,1874,1876,1878,1880,1882,1884,1886,1888,1890,1892,1894,1896,1898,1900,1902,1904,1906,1908,1910,1912,1914,1916,1918,1920,1922,1924,1926,1928,1930,1932,1934,1936,1938,1940,1942,1944,1946,1948,1950,1952,1954,1956,1958,1960,1962,1964,1966,1968,1970,1972,1974,1976,1978,1980,1982,1984,1986,1988,1990,1992,1994,1996,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016,2018,2020,2022,2024,2026,2028,2030,2032,2034,2036,2038,2040,2042,2044,2046,2048,2050,2052,2054,2056,2058,2060,2062,2064,2066,2068,2070,2072,2074,2076,2078,2080,2082,2084,2086,2088,2090,2092,2094,2096,2098,2100,2102,2104,2106,2108,2110,2112,2114,2116,2118,2120,2122,2124,2126,2128,2130,2132,2134,2136,2138,2140,2142,2144,2146,2148,2150,2152,2154,2156,2158,2160,2162,2164,2166,2168,2170,2172,2174,2176,2178,2180,2182,2184,2186,2188,2190,2192,2194,2196,2198,2200,2202,2204,2206,2208,2210,2212,2214,2216,2218,2220,2222,2224,2226,2228,2230,2232,2234,2236,2238,2240,2242,2244,2246,2248,2250,2252,2254,2256,2258,2260,2262,2264,2266,2268,2270,2272,2274,2276,2278,2280,2282,2284,2286,2288,2290,2292,2294,2296,2298,2300,2302,2304,2306,2308,2310,2312,2314,2316,2318,2320,2322,2324,2326,2328,2330,2332,2334,2336,2338,2340,2342,2344,2346,2348,2350,2352,2354,2356,2358,2360,2362,2364,2366,2368,2370,2372,2374,2376,2378,2380,2382,2384,2386,2388,2390,2392,2394,2396,2398,2400,2402,2404,2406,2408,2410,2412,2414,2416,2418,2420,2422,2424,2426,2428,2430,2432,2434,2436,2438,2440,2442,2444,2446,2448,2450,2452,2454,2456,2458,2460,2462,2464,2466,2468,2470,2472,2474,2476,2478,2480,2482,2484,2486,2488,2490,2492,2494,2496,2498,2500,2502,2504,2506,2508,2510,2512,2514,2516,2518,2520,2522,2524,2526,2528,2530,2532,2534,2536,2538,2540,2542,2544,2546,2548,2550,2552,2554,2556,2558,2560,2562,2564,2566,2568,2570,2572,2574,2576,2578,2580,2582,2584,2586,2588,2590,2592,2594,2596,2598,2600,2602,2604,2606,2608,2610,2612,2614,2616,2618,2620,2622,2624,2626,2628,2630,2632,2634,2636,2638,2640,2642,2644,2646,2648,2650,2652,2654,2656,2658,2660,2662,2664,2666,2668,2670,2672,2674,2676,2678,2680,2682,2684,2686,2688,2690,2692,2694,2696,2698,2700,2702,2704,2706,2708,2710,2712,2714,2716,2718,2720,2722,2724,2726,2728,2730,2732,2734,2736,2738,2740,2742,2744,2746,2748,2750,2752,2754,2756,2758,2760,2762,2764,2766,2768,2770,2772,2774,2776,2778,2780,2782,2784,2786,2788,2790,2792,2794,2796,2798,2800,2802,2804,2806,2808,2810,2812,2814,2816,2818,2820,2822,2824,2826,2828,2830,2832,2834,2836,2838,2840,2842,2844,2846,2848,2850,2852,2854,2856,2858,2860,2862,2864,2866,2868,2870,2872,2874,2876,2878,2880,2882,2884,2886,2888,2890,2892,2894,2896,2898,2900,2902,2904,2906,2908,2910,2912,2914,2916,2918,2920,2922,2924,2926,2928,2930,2932,2934,2936,2938,2940,2942,2944,2946,2948,2950,2952,2954,2956,2958,2960,2962,2964,2966,2968,2970,2972,2974,2976,2978,2980,2982,2984,2986,2988,2990,2992,2994,2996,2998,3000,

6.	ในคณิตศาสตร์ ตัวหารร่วมมาก หรือ ห.ร.ม. (greatest common divisor: gcd) ของจำนวนเต็มสองจำนวนซึ่งไม่เป็นศูนย์พร้อมกัน คือจำนวนเต็มที่มากที่สุดที่หารทั้งสองจำนวนลงตัว
จงหา ห.ร.ม. ของจำนวนเต็ม 2 จำนวนที่กำหนดให้
ข้อมูลนำเข้า
บรรทัดแรกเพียงบรรทัดเดียว ประกอบไปด้วยจำนวนเต็มบวกสองจำนวน a และ b มีค่าไม่เกิน 9999
ข้อมูลส่งออก
ในบรรทัดแรกของข้อมูลส่งออก ให้แสดงค่า ห.ร.ม. ของ a และ b
เช่น 	Input : 12 14		Output : 2
	Input : 7 3		Output : 1

678
345
=> 3

In [ ]:
n1,n2 =  input().split()
n1 = int(n1)
n2 = int(n2)
while n1 != n2:
    if n1 > n2:
        n1 -= n2
    else:
        n2 -= n1
print(n1)

10 5
5

7.	จงเขียนโปรแกรมที่คำนวณค่าของ a+aa+aaa+aaaa เมื่อรับข้อมูลเป็นตัวเลข 1 หลัก

Input : 9

Output : 11106 (=9+99+999+9999)

In [ ]:
num = input()

if int(num) >= 0 and int(num) <= 9:
    p1 = str(num)
    p2 = str(num)+str(num)
    p3 = str(num)+str(num)+str(num)
    p4 = str(num)+str(num)+str(num)+str(num)
    sum = int(p1)+int(p2)+int(p3)+int(p4)
    print(f"{p1}+{p2}+{p3}+{p4}={sum}")
else:
    print('Error ค่าที่รับเข้ามาต้องมากกว่า 0 และ หลักเดียวเท่านั้น!!')

9
9+99+999+9999=11106

:8.	แปลงเลขโรมัน เป็นเลขอารบิก เช่น MMMDCCXXIV = 3724 (ค้นหาวิธีทางทางอินเตอร์เน็ต)

In [ ]:
roman_value = [1,4,5,10,50,100,500,1000]
roman_char = ['I','IV','V','X','L','C','D','M']
roman_input = input()
sumofroman = 0
for i in range(0,len(roman_input),2):
    char_roman_two = roman_input[i:i+2]
    if char_roman_two in roman_char:
        for postiton_char in range(len(roman_char)):
            if char_roman_two == roman_char[postiton_char]:
                sumofroman += roman_value[postiton_char]
    else:
        i = 0
        while i < len(char_roman_two):
            char_roman_one = char_roman_two[i]
            if char_roman_one in roman_char:
                for postiton_char in range(len(roman_char)):
                    if char_roman_one == roman_char[postiton_char]:
                        sumofroman += roman_value[postiton_char]
            else:
                break
            i+=1
print(sumofroman)

MMMDCCXXIV
3724

9.	อนุกรม Fibonacci คือ อนุกรมที่ตัวที่ 3 เป็นต้นไปเกิดจาก 2 ตัวหน้าบวกกัน จงเขียนโปรแกรมแสดงอนุกรม
เช่น ตั้งแต่ 0-1000 คือ 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987

In [ ]:
x = 0
y = 1
res = 0
for i in range(0,1001):
    if i <= 0:
        print(x,end=' ')
        print(y,end=' ')
    else:
            res = x+y
            if res <= 1000:
              print(res,end=' ')
            x = y
            y = res

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

10.	ให้สร้างโปรแกรม True Love โดยรับชื่อภาษาอังกฤษของ 2 คน จากนั้นค้นหาว่ามีตัวอักษรอยู่ในคำว่า True และ Love รวมกันกี่ตัว จากนั้นนำมาต่อกันเป็น % ตามรูป (ไม่ต้องแสดงเครื่องหมาย %)

In [ ]:
my_name = input().strip(' ')
your_name  = input().strip(' ')
mix_name = []
mix_name += my_name
mix_name += your_name
char_oflove = [['t','T'],['r','R'],['u','U'],['e','E'],['L','l'],['o','O'],['v','V'],['e','E']]
true_sum = 0
i = 0
love_sum = 0
value_oflove = [0,0,0,0,0,0,0,0]
for postiton_oflove in range(len(char_oflove)):
    char = char_oflove[postiton_oflove]
    for char_input in mix_name:
        if char[1] == char_input[0] or char[0] == char_input:
            value_oflove[postiton_oflove] += 1
while i < len(value_oflove):
    if i <= 3:
        true_sum += value_oflove[i]
    else:
        love_sum += value_oflove[i]
    i +=1

print(f"""
T {value_oflove[0]}  L {value_oflove[4]}
r {value_oflove[1]}  o {value_oflove[5]}
u {value_oflove[2]}  v {value_oflove[6]}
e {value_oflove[3]}  e {value_oflove[7]}
----------
  {true_sum}{love_sum}

""")

Aubrey Drake Graham
Krytie Lee Yandoli

T 1  L 2
r 4  o 1
u 1  v 0
e 5  e 5
----------
  118